<div>
    <h2 data-translate="controlDinersApp.dinersPot.home.title">Diners del Pots</h2>
    <jhi-alert></jhi-alert>
    <canvas class="chart chart-line" chart-data="vm.values" chart-labels="vm.labels" chart-series="vm.series"></canvas> 
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dinersTotals"><span data-translate="controlDinersApp.dinersPot.dinersTotals">Diners Totals</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="data"><span data-translate="controlDinersApp.dinersPot.data">Data</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descripcio"><span data-translate="controlDinersApp.dinersPot.descripcio">Descripcio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="potId"><span data-translate="controlDinersApp.dinersPot.pot">Pot</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dinersPot in vm.dinersPots track by dinersPot.id">
                    <td><a ui-sref="diners-pot-detail({id:dinersPot.id})">{{dinersPot.id}}</a></td>
                    <td>{{dinersPot.dinersTotals}}</td>
                    <td>{{dinersPot.data | date:'medium'}}</td>
                    <td>{{dinersPot.descripcio}}</td>
                    <td>
                        <a ui-sref="pot-detail({id:dinersPot.potId})">{{dinersPot.potId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="diners-pot-detail({id:dinersPot.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
