<div ng-cloak>
    <div class="row" ng-switch="vm.isAuthenticated()">
		<div>
			<p>
				<strong>Pot total: </strong>{{ vm.lastPot | currency }} &nbsp;
				<button class="btn btn-primary btn-sm" ng-click="vm.extreurePot()" ng-switch-when="true">
					<span class="glyphicon glyphicon-minus"></span>
					<span class="hidden-xs hidden-sm">Extreure diners</span>
				</button>
			</p>
		</div>
		<div>
			<p>
				<strong>Quantiat: </strong>{{ vm.quantitatActiva | currency }} &nbsp;
				<button class="btn btn-primary btn-sm" ng-click="vm.quantitatNova()" ng-switch-when="true">
					<span class="glyphicon glyphicon-plus"></span>
					<span class="hidden-xs hidden-sm">Modificar Quantitat</span>
				</button>
			</p>
		</div>

		<button ng-switch-when="true" type="submit" ng-click="vm.crearProces()" ng-disabled="vm.procesIsActive" class="btn btn-primary btn-sm">
			<span class="glyphicon glyphicon-play"></span>
			<span class="hidden-xs hidden-sm">Crear Proces</span>
		</button>
		<button ng-switch-when="true" type="submit" ng-click="vm.acabarProces()" ng-disabled="!vm.procesIsActive" class="btn btn-primary btn-sm">
		    <span class="glyphicon glyphicon-stop"></span>
			<span class="hidden-xs hidden-sm">Acabar Proces</span>
		</button>

       <table class="jh-table table">
            <thead>
                <tr>
                	<th>Usuaris</th>
                    <th>Pagat</th>
                    <th ng-switch-when="true"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuarisProces in vm.usuarisProces | orderBy:['diners','usuarisNom']" ng-switch="vm.isAuthenticated()">
                    <td>{{usuarisProces.usuarisNom}}</td>
                    <td>{{usuarisProces.diners | currency }}</td>

                    <td class="text-right" ng-switch-when="true">
                        <div class="btn-group flex-btn-group-container" >
                            <button type="submit" class="btn btn-info btn-sm" ng-click="vm.pagar(usuarisProces.usuarisId)" ng-disabled="usuarisProces.diners > 0">
                            	<span class="glyphicon glyphicon-euro"></span>
                                <span class="hidden-xs hidden-sm">Pagar</span>
                            </button>
                            <button type="submit" class="btn btn-danger btn-sm" ng-click="vm.cancelarPagament(usuarisProces.usuarisId)" ng-disabled="usuarisProces.diners == 0">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm">Cancel·lar</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
