@CHARSET "UTF-8";

.site-footer {
    color: #888
}

.site-footer ol,
.site-footer ul {
    list-style: none
}

.site-footer li {
    line-height: 1.4em;
    font-size: .9em
}

.site-footer a {
    color: #888
}

.site-footer__row {
    width: 100%;
    padding: 10px
}

.site-footer__row--main {
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 20px
}

.site-footer__row--sub p {
    float: left;
    padding: 10px 0
}

.site-footer__row--sub p {
    font-family: Plantin, "Plantin Pro", "Book Antiqua", Georgia, "Times New Roman", serif;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 3px;
    color: #DFDFDF
}

.link-text a:hover {
    text-decoration: none
}

.back-to-top {
    float: right;
    padding: 10px 34px 10px 10px
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."
}

.centered {
    margin: 0 auto
}

.gd-pad {
    padding: 0 5px
}