<div>
    <h2 data-translate="controlDinersApp.usuarisProces.home.title">Usuaris Proces</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="usuaris-proces.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="controlDinersApp.usuarisProces.home.createLabel">
                        Create new Usuaris Proces
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="diners"><span data-translate="controlDinersApp.usuarisProces.diners">Diners</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="procesId"><span data-translate="controlDinersApp.usuarisProces.proces">Proces</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="usuarisNom"><span data-translate="controlDinersApp.usuarisProces.usuaris">Usuaris</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuarisProces in vm.usuarisProces track by usuarisProces.id">
                    <td><a ui-sref="usuaris-proces-detail({id:usuarisProces.id})">{{usuarisProces.id}}</a></td>
                    <td>{{usuarisProces.diners}}</td>
                    <td>
                        <a ui-sref="proces-detail({id:usuarisProces.procesId})">{{usuarisProces.procesId}}</a>
                    </td>
                    <td>
                        <a ui-sref="usuaris-detail({id:usuarisProces.usuarisId})">{{usuarisProces.usuarisNom}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="usuaris-proces-detail({id:usuarisProces.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="usuaris-proces.edit({id:usuarisProces.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="usuaris-proces.delete({id:usuarisProces.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
